html {
    font-family: 'fontFamily.sans', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

textarea {
    font-family: inherit;
}

textarea::placeholder {
    color: var(--ifm-color-gray-400);
}

.container > .row {
    justify-content: center;
    flex-direction: row;
}

@media (max-width: 1024px) {
    .container > .row {
        flex-direction: column-reverse;
    }
}

article header h2,article header h1 {
    font-size: 2rem !important;
}

article video {
    width: 100%;
    height: auto;
}

.hero.hero--primary {
    background: none;
    color: var(--ifm-color-content);
    text-align: center;
}
